@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

body {
  background-color: black;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
h1 {
  color: gray;
  font-family: 'Noto Sans', sans-serif;
  font-size: 32px;
  margin: 32px;
  align-self: center;
}

#container {
  background-color: white;
  max-width: 800px;
  border-radius: 5%;
  min-height: 300px;
  height: 400px;
  display: grid;
  margin-top: 20px;
}
div p {
  font-family: 'Noto Sans', sans-serif;
  color: black;
  margin: 0 0 0 80px;
  padding: 0;
}

div input {
  margin: 0;
  padding: 0;
}

button {
  max-width: 150px;
  margin-left: 80px;
  margin-top: 20px;
  font-weight: 600;
}

body span {
  padding: 0;
  font-weight: 800;
  margin: 10px 0;
}

#container div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  align-items: center;
}

#copyRight {
  margin-top: 20px;
  padding-left: 20px;
}

.hidden {
  display: none;
  visibility: hidden;
  background: red;
}

p span {
  background-color: #ffff00;
}
/*  */
